//Created by zhangwei on 17/5/3.
doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content="IE=edge")
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(name='renderer' content='webkit')
        meta(name='author' content='北京即趣科技有限公司')
        <!-- Bootstrap core css -->
        link(rel='stylesheet' href='/stylesheets/paper/bootstrap.min.css')
        <!-- IE10 viewport hack for Surface/desktop Window 8 bug -->
        link(rel='stylesheet' href='/stylesheets/ie10-viewport-bug-workaround.css')
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- [if lt IE 9] -->
        script(src='https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js')
        script(src='https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js')
        <!-- [endif] -->

body
    link(rel='stylesheet' href='/stylesheets/back/login.css')
    h3.pagetitle= title
    .container
        form(name='login' action='about:blank' method='post' target='rfFrame').form-signin#changepassword
            h4.form-signin-heading 输入邮箱地址
            label(for='inputEmail').sr-only 工作邮箱地址
            input(type='email' placeholder='邮箱地址' name='email' autofocus required).form-control#inputEmail
            button(type='submit').btn.btn-lg.btn-primary.btn-block 提交
        iframe(name='rfFrame' src='about:blank' style='display:none;')#rfFrame
    script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
    script(src='/javascripts/jquery.form.min.js')
    script(src='/javascripts/back/forgetpassword.js')
