// Created by zhangwei on 17/5/1.
extends ../../views/cms/header

block content
    link(rel='stylesheet' href='/stylesheets/back/index.css')
    .egcmscontent
        .row
            .col-md-4
                a(href='https://www.youzan.com/v2/dashboard/index')
                    .quick-nav
                        i.icon-bar-chart.icon-5x
                        p 电商
            .col-md-4
                a(href='https://exmail.qq.com/cgi-bin/loginpage')
                    .quick-nav
                        i.icon-envelope-alt.icon-5x
                        p 邮箱
            .col-md-4
                a(href='http://work.eatgood365.com')
                    .quick-nav
                        i.icon-hdd.icon-5x
                        p Git
        .row
            .col-md-4
                a(href='https://www.teambition.com/projects')
                    .quick-nav
                        i.icon-tasks.icon-5x
                        p 任务
            .col-md-4
                a(href='http://tongji.baidu.com/web/23792866/homepage/index')
                    .quick-nav
                        i.icon-dashboard.icon-5x
                        p 统计
            .col-md-4
                a(href='https://www.baidu.com')
                    .quick-nav
                        i.icon-search.icon-5x
                        p 搜索


