//Created by zhangwei on 17/5/1.
extends ../../views/cms/header

block content
    .egcmscontent
        link(rel='stylesheet' href='/stylesheets/back/units.css')
        link(rel='stylesheet' href='/stylesheets/back/bootstrap-datetimepicker.min.css')
        link(rel='stylesheet' href='/stylesheets/back/bootstrap-editable.css')
        .content-title
            h4 Unit列表
            p(style='color:red;') feedback状态为101的，必须确认才可发货
            p(style='color:red;') feedback状态为110的，不予发货
            p(style='color:red;') 只能导出当前页的数据
            .content-title-line
        .content
            .input-append.date.form_datetime.date-box#toolbar
                label(for='dateselect').control-label 选择供应日期
                input(size='16' type='text' value='#{today}' readonly=)#dateselect
                span.add-on
                    i.icon-calendar
            table.table.table-striped.table-hover.table-box.table-condensed.table-responsive#unittable
    <!-- Bootstrap core js -->
    script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
    | <script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
    script(src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.js')
    script(src='https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.js')
    script(src='/javascripts/back/bootstrap-datetimepicker.min.js')
    script(src='https://cdn.bootcss.com/bootstrap-table/1.11.1/extensions/export/bootstrap-table-export.js')
    script(src='/javascripts/back/bootstrap-editable.js')
    script(src='https://cdn.bootcss.com/bootstrap-table/1.11.1/extensions/editable/bootstrap-table-editable.js')
    script(src='/javascripts/back/tableExport.min.js')
    //script(src='https://cdn.bootcss.com/bootstrap-table/1.11.1/extensions/export/bootstrap-table-export.min.js')
    script(src='/javascripts/back/units.js')
