//Created by Mbb on 2017/4/27.

doctype html
html
    head
        title 用心吃饭
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content="IE=edge")
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(name='renderer' content='webkit')
        //TODO 产品的描述,待补充
        meta(name='description' content='上班忙，一定要用心吃饭!用心吃饭是一个专注于饮食计划定制和外送的互联网生活服务平台。购买用心吃饭场景餐计划，不用再为吃什么而操心，放心美味准时送到你的楼下！')
        meta(name='author' content='北京即趣科技有限公司')
        | <script>if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        |         window.location.href = 'https://h5.youzan.com/v2/showcase/homepage?alias=1eybatg9d'
        |         }</script>
        <!-- 统计代码 -->
        | <script>var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "https://hm.baidu.com/hm.js?561c32f23434e01e6967b84d0b4d2d86";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm, s);})();</script>
        <!-- Bootstrap core css -->
        link(rel='stylesheet' href='/stylesheets/paper/bootstrap.min.css')
        <!-- IE10 viewport hack for Surface/desktop Window 8 bug -->
        link(rel='stylesheet' href='/stylesheets/ie10-viewport-bug-workaround.css')
        link(rel='stylesheet', href='/stylesheets/front/common-style.css')
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- [if lt IE 9] -->
        script(src='https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js')
        script(src='https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js')
        <!-- [endif] -->
    body
        block content