//Created by Mbb on 2017/5/29.
extends ./header

block content
    .egcmscontent
        link(rel='stylesheet' href='/stylesheets/back/weapp.css')
        link(rel='stylesheet' href='/stylesheets/bootstrap-editable.css')
        link(rel='stylesheet' href='/stylesheets/bootstrap-table-reorder-rows.css')
        .content
            ul.nav.nav-pills.nav-tab-box
                li(role='presentation')
                    a(href='/weapp') 使用指南配置
                li(role='presentation').active
                    a(href='#') 常见问题配置
            .content-title-line(style='margin-bottom:20px;')
            #toolbar
                button(type='button' onclick='showAddUserModal()').btn.btn-success 添加QA
                button(type='button' onclick='deleteIns()' style='margin-left:20px;display:none;').btn.btn-danger#deletebtn 删除QA
            table(data-use-row-attr-func='true' data-reorderable-rows='true').table.table-striped.table-hover#qatable
        .modal(style='margin-top:100px')#addUserModal
            .modal-dialog
                .modal-content
                    .modal-header
                        button(type='button' data-dismiss='modal' aria-hidden='true').close &times;
                        h4.modal-title 新建管理员
                    .modal-body
                        .row
                            form(name='addUser' action='about:blank' method='post' target='rfFrame').form-horizontal#addUserForm
                                .fieldset
                                    .form-group
                                        label(for='inputEmail').col-lg-2.control-label Q
                                        .col-lg-8
                                            textarea(type='text' placeholder='输入问题' name='q' required).form-control#inputEmail
                                    .form-group
                                        label(for='inputPassword').col-lg-2.control-label A
                                        .col-lg-8
                                            textarea(type='text' placeholder='输入答案' name='a' required).form-control#inputPassword
                                    .form-group
                                        .col-lg-10.col-lg-offset-2.form-btn-box
                                            button(type='button' data-dismiss='modal' style='margin-right:10px').btn.btn-default 取消
                                            button(type='submit').btn.btn-primary#addUserSubmit 确定
                            iframe(name='rfFrame' src='about:blank' style='display:none;')#rfFrame
    <!-- Bootstrap core js -->
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.form.min.js')
    | <script>window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')</script>
    script(src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.js')
    script(src='https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.js')
    script(src='/javascripts/bootstrap-editable.js')
    script(src='https://cdn.bootcss.com/bootstrap-table/1.11.1/extensions/editable/bootstrap-table-editable.js')
    script(src='/javascripts/jquery.tablednd.js')
    script(src='/javascripts/bootstrap-table-reorder-rows.js')
    script(src='/javascripts/back/qa.js')
